# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# ML / Data
data/
*.pt
*.pth
*.h5
*.onnx
*.npy

# Node / Frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log

# Outputs
outputs/

# mobile
mobile
mobile-app